video {
  width: 100%;
  border-radius: 16px;
}

p {
  font-family: 'my-font' !important;
  margin: 8rem 4rem 0;
  font-size: 1.8rem;
  text-align: center;
  background: linear-gradient(to bottom right, #ff69b4, #ffc0cb, #fff);
  background-clip: text;
  color: transparent;
}
