@font-face {
  font-family: 'spell';
  font-display: block;
  src: url('https://cdn-img.gitcode.com/dc/ad/427d14c505a4d5945ddeff0df3cdeb621c66ddf1d7370833db040df47a9f81cb.woff?response-content-type=application/font-woff');
}

.magic-box {
  position: fixed;
  inset: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: -1;
  opacity: 0;

  .spell {
    font-size: 1.8rem;
    font-family: 'spell' !important;
    text-align: center;
    background: linear-gradient(to bottom right, #ff69b4, #ffc0cb, #fff);
    background-clip: text;
    color: transparent;
  }
}
